#main{padding:10px 15px;}
#main table{width:100%;padding:5px 10px;}
#main table th{font-size: 12px;color:#fff;border:1px solid #ccc;line-height: 30px}
#main table td{text-align: left;color:#fff;font-size: 12px;line-height: 26px;text-indent: 5px;border:1px solid #ccc;border-top:0;}